<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <script src="js.js"></script>
    </head>
    <body>
        <h3 id="test">
            this is the renderd page
        </h3>
        {{> footer }}
    </body>
</html>